.container {
    background-image: url('../../../public/background2.png');
    background-size: cover;
    background-color: rgb(233, 142, 50);
    margin: 0;
    border-radius: 0 0 12px 12px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo {
    width: 150px;
    margin: 10px;
}